<h1>Bulk Discount <%= @bulk_discount.id %> for Merchant <%= @merchant.name %></h1>
<h4>Percent Off: <%= number_to_percentage(@bulk_discount.discount, precision: 0) %></h4>
<h4>Quantity Needed: <%= @bulk_discount.quantity %></h4>
