<h1>Repo Name: <%= @repo_name.name %></h1>
<p><b>Number of Pull Requests: </b><%= @pulls.number_of_pulls %></p>
<% @contributors.each do |contributor| %>
  <p><b>Contributor:</b> <%= contributor.name %></p>
  <p><b>Number of Commits:</b> <%= contributor.commits %></p>
<% end %>
